<!DOCTYPE html>
<html>

     <head>
          <title>
               <%= title %>
          </title>
          <link rel='stylesheet' href='/stylesheets/style.css' />
          <%- include('header.ejs') %>

     </head>

     <body>
          <section class="p-5">
               <p class="container">Welcome to <%= title %> page.
               </p>
          </section>
     </body>

</html>