<!DOCTYPE html>
<html>

     <head>
          <title>
               footer
          </title>
          <link rel='stylesheet' href='/stylesheets/style.css' />
     </head>

     <body>
          <section class="p-2 ">
               <small>
                    <i>CopyRight &copy; 2021 </i><br> realEstateApi@gmail.com <br><i>All Rights
                         Reserved </i>
               </small>
          </section>
     </body>

</html>